footer {
  background-color: map-get($palette, main-color);
  grid-area: footer;
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer__text {
      margin: 1rem;
    }
  }
  .footer__credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      display: inline;
      width: 3rem;
      text-align: center;
    }
    p {
      font-size: 0.6rem;
      margin-bottom: 2rem;
    }
  }
}
